<div class="mud-input-control mud-input-input-control">
    <div class="mud-input mud-input-text mud-input-adorned-end mud-shrink" style="color: black">
        @if (!CountryInput)
        {
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Width="150px" Height="32px"/>
        }
        else
        {
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Width="321.5px" Height="56px"/>
        }
    </div>
    <label class="mud-input-label mud-input-label-animated mud-input-label-text mud-input-label-inputcontrol">@Title</label>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public bool CountryInput { get; set; }

}